# Train/Test dataset 만들기

In [1]:
import pandas as pd
import sklearn.datasets as sd
from sklearn.model_selection import train_test_split

### 아이리스 데이터셋

In [2]:
iris = sd.load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target
X_train, X_test, y_train, y_test = train_test_split(
    df, iris.target, test_size=0.25, stratify=iris.target, random_state=2021
)

In [3]:
X_train.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
23,5.1,3.3,1.7,0.5,0
127,6.1,3.0,4.9,1.8,2
39,5.1,3.4,1.5,0.2,0
17,5.1,3.5,1.4,0.3,0
28,5.2,3.4,1.4,0.2,0

In [4]:
X_train.to_csv('static/data/iris_train.csv', index=False)
df = pd.read_csv('static/data/iris_train.csv')
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.3,1.7,0.5,0
1,6.1,3.0,4.9,1.8,2
2,5.1,3.4,1.5,0.2,0
3,5.1,3.5,1.4,0.3,0
4,5.2,3.4,1.4,0.2,0

In [5]:
X_test.to_csv('static/data/iris_test.csv', index=False)

### 와인 데이터셋

In [6]:
wine = sd.load_wine()
df = pd.DataFrame(wine.data, columns=wine.feature_names)
df['target'] = wine.target
X_train, X_test, y_train, y_test = train_test_split(
    df, wine.target, test_size=0.25, stratify=wine.target, random_state=2021
)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  target                        178 non-null    int32
dtypes: float64(13), int32(1)
memory usage: 18.9 KB

In [8]:
X_train.to_csv('static/data/wine_train.csv', index=False)
X_test.to_csv('static/data/wine_test.csv', index=False)

### MNIST Digit 데이터셋

In [9]:
digits = sd.load_digits()
df = pd.DataFrame(digits.data, columns=digits.feature_names)
df['target'] = digits.target
X_train, X_test, y_train, y_test = train_test_split(
    df, digits.target, test_size=0.25, stratify=digits.target, random_state=2021
)

In [10]:
X_test.reset_index(inplace=True)

In [11]:
X_test.head()

,index,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,...,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7,target
0,667,0.0,0.0,4.0,16.0,15.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,12.0,14.0,11.0,0.0,0.0,1
1,971,0.0,0.0,5.0,15.0,14.0,3.0,0.0,0.0,0.0,...,1.0,0.0,0.0,4.0,11.0,13.0,16.0,11.0,0.0,9
2,914,0.0,0.0,7.0,14.0,9.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,5.0,15.0,16.0,16.0,12.0,1.0,9
3,1702,0.0,0.0,7.0,11.0,13.0,8.0,1.0,0.0,0.0,...,0.0,0.0,1.0,10.0,14.0,2.0,0.0,0.0,0.0,5
4,1356,0.0,0.0,0.0,12.0,14.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,10.0,14.0,15.0,2.0,0.0,9

In [12]:
X_test.to_csv('static/data/digits_test.csv', index=False)
df = pd.read_csv('static/data/digits_test.csv')
df.head()

,index,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,...,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7,target
0,667,0.0,0.0,4.0,16.0,15.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,12.0,14.0,11.0,0.0,0.0,1
1,971,0.0,0.0,5.0,15.0,14.0,3.0,0.0,0.0,0.0,...,1.0,0.0,0.0,4.0,11.0,13.0,16.0,11.0,0.0,9
2,914,0.0,0.0,7.0,14.0,9.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,5.0,15.0,16.0,16.0,12.0,1.0,9
3,1702,0.0,0.0,7.0,11.0,13.0,8.0,1.0,0.0,0.0,...,0.0,0.0,1.0,10.0,14.0,2.0,0.0,0.0,0.0,5
4,1356,0.0,0.0,0.0,12.0,14.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,10.0,14.0,15.0,2.0,0.0,9

In [13]:
X_train.to_csv('static/data/digits_train.csv', index=False)
X_test.to_csv('static/data/digits_test.csv', index=False)

### 유방암 데이터셋

In [14]:
cancer = sd.load_breast_cancer()
df = pd.DataFrame(cancer.data, columns=cancer.feature_names)
df['target'] = cancer.target
X_train, X_test, y_train, y_test = train_test_split(
    df, cancer.target, test_size=0.25, stratify=cancer.target, random_state=2021
)

In [15]:
X_train.to_csv('static/data/cancer_train.csv', index=False)
X_test.to_csv('static/data/cancer_test.csv', index=False)

### 당뇨병 데이터셋

In [16]:
diabetes = sd.load_diabetes()
df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df['target'] = diabetes.target
X_train, X_test, y_train, y_test = train_test_split(
    df, diabetes.target, test_size=0.25, random_state=2021
)

In [17]:
X_train.to_csv('static/data/diabetes_train.csv', index=False)
X_test.to_csv('static/data/diabetes_test.csv', index=False)

### Boston 데이터셋

In [18]:
boston = sd.load_boston()
df = pd.DataFrame(boston.data, columns=boston.feature_names)
df['target'] = boston.target
X_train, X_test, y_train, y_test = train_test_split(
    df, boston.target, test_size=0.25, random_state=2021
)

In [19]:
X_train.to_csv('static/data/boston_train.csv', index=False)
X_test.to_csv('static/data/boston_test.csv', index=False)

### 타이타닉 데이터셋

In [2]:
titanic_df = pd.read_csv('../../Machine-Learning/00.data/titanic/train.csv')
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Null / Nan 처리
titanic_df['Age'].fillna(titanic_df['Age'].mean(), inplace=True)
titanic_df['Cabin'].fillna('N',inplace=True)
titanic_df['Embarked'].fillna('N',inplace=True)
print('데이터 세트 Null 값 갯수 ', titanic_df.isnull().sum().sum())

데이터 세트 Null 값 갯수  0

In [4]:
# 데이터 전처리
titanic_df['Cabin'] = titanic_df['Cabin'].str[:1]
titanic_df['Cabin'].unique()

array(['N', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [5]:
from sklearn.preprocessing import LabelEncoder

features = ['Cabin', 'Sex', 'Embarked']
for feature in features:
    le = LabelEncoder()
    titanic_df[feature] = le.fit_transform(titanic_df[feature])

titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,7,3
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,2,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,7,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,2,3
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,7,3

In [6]:
# 머신러닝에 불필요한 속성 제거
titanic_df.drop(['PassengerId','Name','Ticket'], axis=1, inplace=True)
titanic_df.head(3)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0         0       3    1  22.0      1      0   7.2500      7         3
1         1       1    0  38.0      1      0  71.2833      2         0
2         1       3    0  26.0      0      0   7.9250      7         3

In [7]:
X_train, X_test, y_train, y_test = train_test_split(
    titanic_df, titanic_df.Survived, stratify=titanic_df.Survived,
    test_size=0.25, random_state=2021
)

In [8]:
X_train.to_csv('static/data/titanic_train.csv', index=False)
X_test.to_csv('static/data/titanic_test.csv', index=False)

In [9]:
X_train.shape, X_test.shape

((668, 9), (223, 9))

In [10]:
# 군집화에 사용할 데이터셋
titanic_df['target'] = titanic_df.Survived
titanic_df.drop(['Survived'], axis=1, inplace=True)
titanic_df.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked  target
0       3    1  22.0      1      0   7.2500      7         3       0
1       1    0  38.0      1      0  71.2833      2         0       1
2       3    0  26.0      0      0   7.9250      7         3       1
3       1    0  35.0      1      0  53.1000      2         3       1
4       3    1  35.0      0      0   8.0500      7         3       0

In [11]:
titanic_df.to_csv('static/clus_pca_data/titanic.csv', index=False)

### 파마인디언 데이터셋

In [12]:
df = pd.read_csv('../../Machine-Learning/00.data/diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

데이터 전처리

In [13]:
# 0값을 검사할 피처명 리스트 객체 설정
zero_features = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']

# 전체 데이터 건수
total_count = df['Glucose'].count()

# 피처별로 반복 하면서 데이터 값이 0 인 데이터 건수 추출하고, 퍼센트 계산
for feature in zero_features:
    zero_count = df[df[feature] == 0][feature].count()
    percent = 100*zero_count/total_count
    print(f'{feature} 0 건수는 {zero_count}, 비율은 {percent:.2f} %')

Glucose 0 건수는 5, 비율은 0.65 %
BloodPressure 0 건수는 35, 비율은 4.56 %
SkinThickness 0 건수는 227, 비율은 29.56 %
Insulin 0 건수는 374, 비율은 48.70 %
BMI 0 건수는 11, 비율은 1.43 %

In [14]:
# zero_features 리스트 내부에 저장된 개별 피처들에 대해서 0값을 평균 값으로 대체
df[zero_features]=df[zero_features].replace(0, df[zero_features].mean())

In [15]:
X_train, X_test, y_train, y_test = train_test_split(
    df, df.Outcome, stratify=df.Outcome, test_size=0.25, random_state=2021
)
X_train.to_csv('static/data/pima_train.csv', index=False)
X_test.to_csv('static/data/pima_test.csv', index=False)

In [16]:
# 군집화용 데이터셋
df.to_csv('static/clus_pca_data/pima.csv', index=False)