In [1]:
import pandas as pd
import numpy as np
import platform
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from glob import glob
%matplotlib inline
mpl.rc('font', family='Malgun Gothic')
mpl.rc('axes', unicode_minus=False)
sns.set(font="Malgun Gothic", 
        rc={"axes.unicode_minus":False})

In [2]:
office_files = glob('../static/data/office/소상공인시장진흥공단_상가(상권)정보*.csv')
tmp_raw = []

for file_name in office_files:
    tmp = pd.read_csv(file_name, sep='|', encoding='utf8')
    tmp_raw.append(tmp)

station_raw = pd.concat(tmp_raw)

In [3]:
market = station_raw.loc[:, ['상호명', '지점명', '상권업종중분류명', '상권업종소분류명', '시도명', '시군구명', '행정동명', '도로명주소', '경도', '위도']]
market.head()

,상호명,지점명,상권업종중분류명,상권업종소분류명,시도명,시군구명,행정동명,도로명주소,경도,위도
0,황진이,NaN,유흥주점,룸살롱/단란주점,강원도,원주시,중앙동,강원도 원주시 중앙로 61,127.952252,37.347773
1,용둔은영식당,NaN,한식,한식/백반/한정식,강원도,횡성군,우천면,강원도 횡성군 우천면 경강로 2730,128.059348,37.495197
2,아미식당,NaN,한식,한식/백반/한정식,강원도,홍천군,서석면,강원도 홍천군 서석면 풍암장터2길 49-13,128.187197,37.711402
3,산약초건강원,NaN,건강/미용식품,건강원,강원도,태백시,황지동,강원도 태백시 황지로 112,128.992063,37.168758
4,왕벌식당,NaN,한식,한식/백반/한정식,강원도,양구군,방산면,강원도 양구군 방산면 평화로 5432,127.955740,38.224635

In [4]:
market_burger = market[market['상권업종중분류명'] == '패스트푸드']
market_burger.head()

,상호명,지점명,상권업종중분류명,상권업종소분류명,시도명,시군구명,행정동명,도로명주소,경도,위도
12,버거킹오션월드,NaN,패스트푸드,패스트푸드,강원도,홍천군,서면,강원도 홍천군 서면 한치골길 262,127.687273,37.652324
196,로데오,NaN,패스트푸드,피자전문,강원도,강릉시,중앙동,강원도 강릉시 경강로 2090-1,128.895743,37.754245
479,왕눈이도넛츠,NaN,패스트푸드,도너츠전문,강원도,영월군,영월읍,강원도 영월군 영월읍 삼옥재길 2,128.476234,37.209981
618,씨지브이원주2,NaN,패스트푸드,패스트푸드,강원도,원주시,단계동,강원도 원주시 서원대로 171,127.930798,37.344816
643,베스킨라벤스,NaN,패스트푸드,아이스크림판매,강원도,삼척시,남양동,강원도 삼척시 진주로 35,129.163718,37.443797

In [5]:
market_burger.to_csv('../static/data/burger.csv')

In [6]:
market_buger = pd.read_csv('../static/data/burger.csv')

In [7]:
buger_king = market_buger[market_buger['상호명'].str.contains('버거킹', case=False)]
buger_king['지점명'] = buger_king['지점명'].fillna(' ')
del buger_king['Unnamed: 0']
buger_king['n_상호명'] = '버거킹'
buger_king

,상호명,지점명,상권업종중분류명,상권업종소분류명,시도명,시군구명,행정동명,도로명주소,경도,위도,n_상호명
0,버거킹오션월드,,패스트푸드,패스트푸드,강원도,홍천군,서면,강원도 홍천군 서면 한치골길 262,127.687273,37.652324,버거킹
108,버거킹,비발디점,패스트푸드,패스트푸드,강원도,홍천군,서면,강원도 홍천군 서면 한치골길 262,127.687273,37.652324,버거킹
210,BKR버거킹,대명비발디점,패스트푸드,패스트푸드,강원도,홍천군,서면,강원도 홍천군 서면 한치골길 262,127.687273,37.652324,버거킹
629,버거킹,강릉교동SK점,패스트푸드,패스트푸드,강원도,강릉시,교1동,강원도 강릉시 하슬라로 159,128.874437,37.764370,버거킹
655,버거킹춘천거두GS점,춘천거두GS점,패스트푸드,패스트푸드,강원도,춘천시,동내면,강원도 춘천시 동내면 춘천순환로 59,127.750304,37.855931,버거킹
...,...,...,...,...,...,...,...,...,...,...,...
29117,버거킹,청주터미널점,패스트푸드,패스트푸드,충청북도,청주시 흥덕구,가경동,충청북도 청주시 흥덕구 풍산로 15,127.432258,36.626560,버거킹
29426,버거킹,청주성안길점,패스트푸드,패스트푸드,충청북도,청주시 상당구,성안동,충청북도 청주시 상당구 상당로81번길 64,127.486861,36.635702,버거킹
29445,버거킹,오창호수공원점,패스트푸드,패스트푸드,충청북도,청주시 청원구,오창읍,충청북도 청주시 청원구 오창읍 중심상업로 31-18,127.427912,36.713784,버거킹
29659,버거킹청주오송점,청주오송점,패스트푸드,패스트푸드,충청북도,청주시 흥덕구,오송읍,충청북도 청주시 흥덕구 오송읍 오송생명로 178,127.328759,36.631402,버거킹
29717,버거킹진천점,진천점,패스트푸드,패스트푸드,충청북도,진천군,진천읍,충청북도 진천군 진천읍 상산로 71,127.441902,36.854697,버거킹

In [8]:
mac = market_buger[market_buger['상호명'].str.contains('맥도날드', case=False)]
mac['지점명'] = mac['지점명'].fillna(' ')
del mac['Unnamed: 0']
mac['n_상호명'] = '맥도날드'
mac

,상호명,지점명,상권업종중분류명,상권업종소분류명,시도명,시군구명,행정동명,도로명주소,경도,위도,n_상호명
137,한국맥도날드춘천퇴계DT점,춘천퇴계DT점,패스트푸드,패스트푸드,강원도,춘천시,퇴계동,강원도 춘천시 영서로 2173,127.731041,37.859159,맥도날드
267,한국맥도날드원주단계DT,,패스트푸드,패스트푸드,강원도,원주시,무실동,강원도 원주시 서원대로 154,127.928180,37.344175,맥도날드
275,한국맥도날드원주단구DT,,패스트푸드,패스트푸드,강원도,원주시,단구동,강원도 원주시 서원대로 426,127.951339,37.329102,맥도날드
350,맥도날드,원주단구DT점,패스트푸드,패스트푸드,강원도,원주시,단구동,강원도 원주시 서원대로 426,127.951339,37.329102,맥도날드
425,신맥맥도날드원주,,패스트푸드,패스트푸드,강원도,원주시,무실동,강원도 원주시 북원로 1928,127.919018,37.320659,맥도날드
...,...,...,...,...,...,...,...,...,...,...,...
29478,맥도날드청주율량GSDT점청주율량GSDT점,청주율량GSDT점,패스트푸드,패스트푸드,충청북도,청주시 청원구,율량.사천동,충청북도 청주시 청원구 공항로 156,127.484088,36.670828,맥도날드
29504,맥도날드,,패스트푸드,패스트푸드,충청북도,청주시 서원구,분평동,충청북도 청주시 서원구 1순환로1107번길 95,127.489486,36.610714,맥도날드
29508,맥도날드,용암점,패스트푸드,패스트푸드,충청북도,청주시 상당구,용암2동,충청북도 청주시 상당구 월평로 220,127.507669,36.607889,맥도날드
29596,한국맥도날드청주금천DT점,,패스트푸드,패스트푸드,충청북도,청주시 상당구,금천동,충청북도 청주시 상당구 중고개로 281,127.508135,36.627771,맥도날드
29614,맥도날드청주봉명점,청주봉명점,패스트푸드,패스트푸드,충청북도,청주시 흥덕구,봉명2.송정동,충청북도 청주시 흥덕구 1순환로 518,127.464200,36.646228,맥도날드

In [9]:
lotte = market_buger[market_buger['상호명'].str.contains('롯데리아', case=False)]
lotte['지점명'] = lotte['지점명'].fillna(' ')
del lotte['Unnamed: 0']
lotte['n_상호명'] = '롯데리아'
lotte

,상호명,지점명,상권업종중분류명,상권업종소분류명,시도명,시군구명,행정동명,도로명주소,경도,위도,n_상호명
130,롯데리아,엘리시안강촌리조트점,패스트푸드,패스트푸드,강원도,춘천시,남산면,강원도 춘천시 남산면 북한강변길 688,127.578796,37.830132,롯데리아
135,롯데리아,홍천점,패스트푸드,패스트푸드,강원도,홍천군,홍천읍,강원도 홍천군 홍천읍 홍천로6길 22,127.884589,37.690887,롯데리아
152,롯데리아,강릉교동점,패스트푸드,패스트푸드,강원도,강릉시,교1동,강원도 강릉시 교동광장로 106,128.876061,37.764466,롯데리아
173,문막휴게소롯데리아,,패스트푸드,패스트푸드,강원도,원주시,문막읍,강원도 원주시 문막읍 원문로 1234,127.858209,37.335262,롯데리아
197,롯데리아태백태백점,태백점,패스트푸드,패스트푸드,강원도,태백시,황지동,강원도 태백시 황지로 194-1,128.989310,37.175224,롯데리아
...,...,...,...,...,...,...,...,...,...,...,...
29829,롯데리아,충북혁신도시점,패스트푸드,패스트푸드,충청북도,음성군,맹동면,충청북도 음성군 맹동면 대하1길 4,127.541053,36.907804,롯데리아
29830,롯데리아,서충주신도시점,패스트푸드,패스트푸드,충청북도,충주시,중앙탑면,충청북도 충주시 중앙탑면 기업도시로 222,127.824494,37.016611,롯데리아
29841,롯데리아,금왕점,패스트푸드,패스트푸드,충청북도,음성군,금왕읍,충청북도 음성군 금왕읍 무극로 250,127.589688,36.991727,롯데리아
29877,롯데리아,오송역사점,패스트푸드,패스트푸드,충청북도,청주시 흥덕구,오송읍,충청북도 청주시 흥덕구 오송읍 오송가락로 123,127.327144,36.620470,롯데리아
29996,롯데리아,충주호암점,패스트푸드,패스트푸드,충청북도,충주시,호암.직동,충청북도 충주시 호암토성2로 1,127.933646,36.954758,롯데리아

In [10]:
kfc = market_buger[market_buger['상호명'].str.contains('케이에프씨|KFC|케이에프시', case=False)]
kfc['지점명'] = kfc['지점명'].fillna(' ')
del kfc['Unnamed: 0']
kfc['n_상호명'] = 'KFC'
kfc

,상호명,지점명,상권업종중분류명,상권업종소분류명,시도명,시군구명,행정동명,도로명주소,경도,위도,n_상호명
46,케이에프씨춘천석사,,패스트푸드,패스트푸드,강원도,춘천시,석사동,강원도 춘천시 영서로 2027,127.745315,37.852622,KFC
283,에스알에스KFC현대성우,,패스트푸드,패스트푸드,강원도,횡성군,둔내면,강원도 횡성군 둔내면 고원로 451,128.250118,37.490135,KFC
456,KFC춘천1,,패스트푸드,패스트푸드,강원도,춘천시,약사명동,강원도 춘천시 중앙로67번길 4,127.726468,37.878998,KFC
461,SRSKFC춘천1,,패스트푸드,패스트푸드,강원도,춘천시,약사명동,강원도 춘천시 중앙로67번길 4,127.726468,37.878998,KFC
462,SRS코리아KFC,,패스트푸드,패스트푸드,강원도,동해시,천곡동,강원도 동해시 한섬로 111-7,129.115250,37.522259,KFC
...,...,...,...,...,...,...,...,...,...,...,...
28877,KFC,당진점,패스트푸드,패스트푸드,충청남도,당진시,당진1동,충청남도 당진시 당진중앙2로 101,126.630175,36.894098,KFC
29341,SRSKFC청주쥬네쓰점,,패스트푸드,패스트푸드,충청북도,청주시 상당구,성안동,충청북도 청주시 상당구 상당로81번길 33,127.488128,36.635257,KFC
29444,KFC,청주쥬네쓰점,패스트푸드,패스트푸드,충청북도,청주시 상당구,성안동,충청북도 청주시 상당구 상당로81번길 33,127.488128,36.635257,KFC
29527,KFC청주가경HP,,패스트푸드,패스트푸드,충청북도,청주시 흥덕구,가경동,충청북도 청주시 흥덕구 서부로 1291,127.442233,36.615432,KFC
29583,KFC,,패스트푸드,패스트푸드,충청북도,청주시 청원구,오창읍,충청북도 청주시 청원구 오창읍 중심상업로 32-19,127.431559,36.713991,KFC

In [11]:
mom = market_buger[market_buger['상호명'].str.contains('MoomsTouch|MOMSTOUCH|맘스터치', case=False)]
mom['지점명'] = mom['지점명'].fillna(' ')
del mom['Unnamed: 0']
mom['n_상호명'] = '맘스터치'
mom

,상호명,지점명,상권업종중분류명,상권업종소분류명,시도명,시군구명,행정동명,도로명주소,경도,위도,n_상호명
348,맘스터치,강릉대학로점,패스트푸드,샌드위치전문점,강원도,강릉시,중앙동,강원도 강릉시 신대학길 32,128.896463,37.753725,맘스터치
454,맘스터치치킨피자,,패스트푸드,피자전문,강원도,화천군,상서면,강원도 화천군 상서면 영서로 7717,127.662248,38.207165,맘스터치
500,맘스터치,강릉점,패스트푸드,패스트푸드,강원도,강릉시,홍제동,강원도 강릉시 하슬라로 27,128.878783,37.754706,맘스터치
518,맘스터치,삼척점,패스트푸드,패스트푸드,강원도,삼척시,남양동,강원도 삼척시 진주로 39,129.163679,37.444221,맘스터치
640,맘스터치,강릉입암점,패스트푸드,패스트푸드,강원도,강릉시,성덕동,강원도 강릉시 성덕포남로 45-8,128.919456,37.759315,맘스터치
...,...,...,...,...,...,...,...,...,...,...,...
29657,맘스터치성서점,성서점,패스트푸드,패스트푸드,충청북도,충주시,성내.충인동,충청북도 충주시 예성로 156-1,127.933508,36.970925,맘스터치
29689,맘스터치충주성서점,충주성서점,패스트푸드,패스트푸드,충청북도,충주시,성내.충인동,충청북도 충주시 예성로 158,127.933508,36.970997,맘스터치
29792,맘스터치,충북광혜원점,패스트푸드,패스트푸드,충청북도,진천군,광혜원면,충청북도 진천군 광혜원면 중리1길 5,127.441215,36.990418,맘스터치
29836,맘스터치,칠금점,패스트푸드,패스트푸드,충청북도,충주시,칠금.금릉동,충청북도 충주시 계명대로 35,127.918333,36.982631,맘스터치
29857,맘스터치,호암점,패스트푸드,패스트푸드,충청북도,충주시,호암.직동,충청북도 충주시 호암토성5길 10-1,127.929189,36.953620,맘스터치

In [12]:
burgur_sum = pd.concat([buger_king, mac, lotte, kfc, mom], ignore_index=True)
burgur_sum.head()

,상호명,지점명,상권업종중분류명,상권업종소분류명,시도명,시군구명,행정동명,도로명주소,경도,위도,n_상호명
0,버거킹오션월드,,패스트푸드,패스트푸드,강원도,홍천군,서면,강원도 홍천군 서면 한치골길 262,127.687273,37.652324,버거킹
1,버거킹,비발디점,패스트푸드,패스트푸드,강원도,홍천군,서면,강원도 홍천군 서면 한치골길 262,127.687273,37.652324,버거킹
2,BKR버거킹,대명비발디점,패스트푸드,패스트푸드,강원도,홍천군,서면,강원도 홍천군 서면 한치골길 262,127.687273,37.652324,버거킹
3,버거킹,강릉교동SK점,패스트푸드,패스트푸드,강원도,강릉시,교1동,강원도 강릉시 하슬라로 159,128.874437,37.764370,버거킹
4,버거킹춘천거두GS점,춘천거두GS점,패스트푸드,패스트푸드,강원도,춘천시,동내면,강원도 춘천시 동내면 춘천순환로 59,127.750304,37.855931,버거킹

In [13]:
burgur_sum['점포수'] = 1
burgur_sum.head()

,상호명,지점명,상권업종중분류명,상권업종소분류명,시도명,시군구명,행정동명,도로명주소,경도,위도,n_상호명,점포수
0,버거킹오션월드,,패스트푸드,패스트푸드,강원도,홍천군,서면,강원도 홍천군 서면 한치골길 262,127.687273,37.652324,버거킹,1
1,버거킹,비발디점,패스트푸드,패스트푸드,강원도,홍천군,서면,강원도 홍천군 서면 한치골길 262,127.687273,37.652324,버거킹,1
2,BKR버거킹,대명비발디점,패스트푸드,패스트푸드,강원도,홍천군,서면,강원도 홍천군 서면 한치골길 262,127.687273,37.652324,버거킹,1
3,버거킹,강릉교동SK점,패스트푸드,패스트푸드,강원도,강릉시,교1동,강원도 강릉시 하슬라로 159,128.874437,37.764370,버거킹,1
4,버거킹춘천거두GS점,춘천거두GS점,패스트푸드,패스트푸드,강원도,춘천시,동내면,강원도 춘천시 동내면 춘천순환로 59,127.750304,37.855931,버거킹,1

In [14]:
burgur_sum.to_csv('../static/data/5burgur.csv', index=False)

In [15]:
burgur_sum = burgur_sum[['시도명', '시군구명', '상호명', '지점명', '도로명주소', '경도', '위도', '점포수', 'n_상호명']]
burgur_sum.head()

,시도명,시군구명,상호명,지점명,도로명주소,경도,위도,점포수,n_상호명
0,강원도,홍천군,버거킹오션월드,,강원도 홍천군 서면 한치골길 262,127.687273,37.652324,1,버거킹
1,강원도,홍천군,버거킹,비발디점,강원도 홍천군 서면 한치골길 262,127.687273,37.652324,1,버거킹
2,강원도,홍천군,BKR버거킹,대명비발디점,강원도 홍천군 서면 한치골길 262,127.687273,37.652324,1,버거킹
3,강원도,강릉시,버거킹,강릉교동SK점,강원도 강릉시 하슬라로 159,128.874437,37.764370,1,버거킹
4,강원도,춘천시,버거킹춘천거두GS점,춘천거두GS점,강원도 춘천시 동내면 춘천순환로 59,127.750304,37.855931,1,버거킹

In [16]:
buger = pd.pivot_table(burgur_sum, index = ['시도명', '시군구명'], columns=['n_상호명'], values=['점포수'], aggfunc='sum')
buger = buger.fillna(0.0)
buger

              점포수
n_상호명         KFC  롯데리아 맘스터치 맥도날드  버거킹
시도명  시군구명
강원도  강릉시      0.0   5.0  4.0  1.0  1.0
     고성군      0.0   1.0  0.0  0.0  0.0
     동해시      1.0   0.0  0.0  3.0  0.0
     삼척시      0.0   0.0  1.0  0.0  0.0
     속초시      0.0   6.0  1.0  1.0  1.0
...           ...   ...  ...  ...  ...
충청북도 청주시 상당구  2.0   9.0  3.0  3.0  1.0
     청주시 서원구  0.0   6.0  3.0  6.0  0.0
     청주시 청원구  1.0   5.0  2.0  2.0  1.0
     청주시 흥덕구  1.0  12.0  0.0  2.0  3.0
     충주시      0.0   5.0  5.0  1.0  0.0

[218 rows x 5 columns]

In [17]:
buger.reset_index(inplace=True)
buger.head()

       시도명 시군구명  점포수
n_상호명            KFC 롯데리아 맘스터치 맥도날드  버거킹
0      강원도  강릉시  0.0  5.0  4.0  1.0  1.0
1      강원도  고성군  0.0  1.0  0.0  0.0  0.0
2      강원도  동해시  1.0  0.0  0.0  3.0  0.0
3      강원도  삼척시  0.0  0.0  1.0  0.0  0.0
4      강원도  속초시  0.0  6.0  1.0  1.0  1.0

In [18]:
tmp_coloumns = [buger.columns.get_level_values(0)[n] +
                buger.columns.get_level_values(1)[n]
                for n in range(len(buger.columns.get_level_values(0)))]

buger.columns = tmp_coloumns

buger.head()

   시도명 시군구명  점포수KFC  점포수롯데리아  점포수맘스터치  점포수맥도날드  점포수버거킹
0  강원도  강릉시     0.0      5.0      4.0      1.0     1.0
1  강원도  고성군     0.0      1.0      0.0      0.0     0.0
2  강원도  동해시     1.0      0.0      0.0      3.0     0.0
3  강원도  삼척시     0.0      0.0      1.0      0.0     0.0
4  강원도  속초시     0.0      6.0      1.0      1.0     1.0

In [19]:
sido = [None] * len(buger)

for n in buger.index:
    #고성 처리
    if buger['시군구명'][n][:-1] =='고성':
        if buger['시도명'][n]=='강원도':
            sido[n] = f"고성(강원)"
        else:
            sido[n] = f"고성(경남)"
    # 시 처리
    elif buger['시도명'][n] in ['인천광역시', '울산광역시', '부산광역시', '대구광역시', '대전광역시', '광주광역시', '서울특별시']:
        if len(buger['시군구명'][n]) == 2:
            sido[n] = f"{buger['시도명'][n][:2]} {buger['시군구명'][n]}"
        else:
            sido[n] = f"{buger['시도명'][n][:2]} {buger['시군구명'][n][:-1]}"
    # 그 외 시군구 정리
    elif buger['시군구명'][n] in ['창원시 마산합포구', '창원시 마산회원구']:
        sido[n] = f"{buger['시군구명'][n].split()[0][:-1]} {buger['시군구명'][n].split()[1][2:-1]}"
    elif buger['시군구명'][n]:
        if len(buger['시군구명'][n].split()) == 2:
            sido[n] = f"{buger['시군구명'][n].split()[0][:-1]} {buger['시군구명'][n].split()[1][:-1]}"
        else:
            sido[n] = f"{buger['시군구명'][n][:-1]}"

print(sido)

['강릉', '고성(강원)', '동해', '삼척', '속초', '양구', '양양', '원주', '인제', '정선', '철원', '춘천', '태백', '평창', '홍천', '화천', '횡성', '가평', '고양 덕양', '고양 일산동', '고양 일산서', '과천', '광명', '광주', '구리', '군포', '김포', '남양주', '동두천', '부천', '성남 분당', '성남 수정', '성남 중원', '수원 권선', '수원 영통', '수원 장안', '수원 팔달', '시흥', '안산', '안산 단원', '안산 상록', '안성', '안양 동안', '안양 만안', '양주', '양평', '여주', '연천', '오산', '용인 기흥', '용인 수지', '용인 처인', '의왕', '의정부', '이천', '파주', '평택', '포천', '하남', '화성', '거제', '거창', '고성(경남)', '김해', '남해', '밀양', '사천', '산청', '양산', '의령', '진주', '창녕', '창원', '창원 합포', '창원 회원', '창원 성산', '창원 의창', '창원 진해', '통영', '하동', '경산', '경주', '고령', '구미', '김천', '문경', '봉화', '상주', '성주', '안동', '영주', '영천', '예천', '울릉', '울진', '의성', '청도', '포항 남', '포항 북', '광주 광산', '광주 남구', '광주 동구', '광주 북구', '광주 서구', '대구 남구', '대구 달서', '대구 달성', '대구 동구', '대구 북구', '대구 서구', '대구 수성', '대구 중구', '대전 대덕', '대전 동구', '대전 서구', '대전 유성', '대전 중구', '부산 강서', '부산 금정', '부산 기장', '부산 남구', '부산 동구', '부산 동래', '부산 부산진', '부산 북구', '부산 사상', '부산 사하', '부산 서구', '부산 수영', '부산 연제', '부산 영도', '부산 중구', '부산 해운대', '서울 강남', '서울 강동', '서울 강북', '서울 강서', '서울 관악', '서울 광진', '서울 구로', '서울 금천', '서울 노원', '서울 도봉', '서울 동대문', '서울 동작', '서울 마포', '서울 서대문', '서울 서초', '서울 성동', '서울 성북', '서울 송파', '서울 양천', '서울 영등포', '서울 용산', '서울 은평', '서울 종로', '서울 중구', '서울 중랑', '세종특별자치', '울산 남구', '울산 동구', '울산 북구', '울산 울주', '울산 중구', '인천 강화', '인천 계양', '인천 남동', '인천 미추홀', '인천 부평', '인천 서구', '인천 연수', '인천 옹진', '인천 중구', '강진', '고흥', '곡성', '광양', '구례', '나주', '담양', '목포', '무안', '보성', '순천', '여수', '영암', '완도', '장성', '함평', '해남', '서귀포', '제주', '계룡', '공주', '금산', '논산', '당진', '보령', '부여', '서산', '서천', '아산', '예산', '천안 동남', '천안 서북', '홍성', '괴산', '보은', '옥천', '음성', '제천', '증평', '진천', '청주 상당', '청주 서원', '청주 청원', '청주 흥덕', '충주']

In [20]:
buger['ID'] = sido
buger.head()

   시도명 시군구명  점포수KFC  점포수롯데리아  점포수맘스터치  점포수맥도날드  점포수버거킹      ID
0  강원도  강릉시     0.0      5.0      4.0      1.0     1.0      강릉
1  강원도  고성군     0.0      1.0      0.0      0.0     0.0  고성(강원)
2  강원도  동해시     1.0      0.0      0.0      3.0     0.0      동해
3  강원도  삼척시     0.0      0.0      1.0      0.0     0.0      삼척
4  강원도  속초시     0.0      6.0      1.0      1.0     1.0      속초

In [21]:
draw_korea_raw = pd.read_excel('../static/data/draw_korea_raw(수정).xlsx', encoding='utf8')
draw_korea_raw.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,철원,화천,양구,고성(강원),NaN,NaN,NaN
1,NaN,NaN,NaN,양주,동두천,연천,포천,의정부,인제,춘천,속초,NaN,NaN,NaN
2,NaN,NaN,NaN,파주,고양 일산동,서울 도봉,서울 노원,남양주,홍천,횡성,양양,NaN,NaN,NaN
3,NaN,NaN,NaN,고양 일산서,고양 덕양,서울 강북,서울 성북,가평,구리,하남,정선,강릉,NaN,NaN
4,NaN,NaN,김포,안양 만안,광명,서울 서대문,서울 종로,서울 동대문,서울 중랑,양평,태백,동해,NaN,NaN

In [22]:
draw_korea_raw_stacked = pd.DataFrame(draw_korea_raw.stack())
draw_korea_raw_stacked.reset_index(inplace=True)
draw_korea_raw_stacked.rename(columns={'level_0':'y', 'level_1':'x', 0:'ID'},
                                       inplace=True)
draw_korea_raw_stacked

      y   x      ID
0     0   7      철원
1     0   8      화천
2     0   9      양구
3     0  10  고성(강원)
4     1   3      양주
..   ..  ..     ...
245  24   2      장흥
246  24   3      보성
247  25   2      완도
248  25   5      제주
249  26   5     서귀포

[250 rows x 3 columns]

In [23]:
draw_korea = draw_korea_raw_stacked

In [24]:
tmp_list = list(set(buger['ID'].unique()) - set(draw_korea['ID'].unique()))

for tmp in tmp_list:
    buger = buger.drop(buger[buger['ID']==tmp].index)

print(set(buger['ID'].unique()) - set(draw_korea['ID'].unique()))
set()

set()

set()

In [25]:
buger = pd.merge(buger, draw_korea, how='right', on=['ID'])

buger.head()

   시도명 시군구명  점포수KFC  점포수롯데리아  점포수맘스터치  점포수맥도날드  점포수버거킹      ID  y   x
0  강원도  강릉시     0.0      5.0      4.0      1.0     1.0      강릉  3  11
1  강원도  고성군     0.0      1.0      0.0      0.0     0.0  고성(강원)  0  10
2  강원도  동해시     1.0      0.0      0.0      3.0     0.0      동해  4  11
3  강원도  삼척시     0.0      0.0      1.0      0.0     0.0      삼척  5  11
4  강원도  속초시     0.0      6.0      1.0      1.0     1.0      속초  1  10

In [26]:
buger = buger.fillna(0)
buger

     시도명 시군구명  점포수KFC  점포수롯데리아  점포수맘스터치  점포수맥도날드  점포수버거킹      ID   y   x
0    강원도  강릉시     0.0      5.0      4.0      1.0     1.0      강릉   3  11
1    강원도  고성군     0.0      1.0      0.0      0.0     0.0  고성(강원)   0  10
2    강원도  동해시     1.0      0.0      0.0      3.0     0.0      동해   4  11
3    강원도  삼척시     0.0      0.0      1.0      0.0     0.0      삼척   5  11
4    강원도  속초시     0.0      6.0      1.0      1.0     1.0      속초   1  10
..   ...  ...     ...      ...      ...      ...     ...     ...  ..  ..
245    0    0     0.0      0.0      0.0      0.0     0.0      순창  20   3
246    0    0     0.0      0.0      0.0      0.0     0.0      신안  21   0
247    0    0     0.0      0.0      0.0      0.0     0.0      화순  21   4
248    0    0     0.0      0.0      0.0      0.0     0.0      진도  24   0
249    0    0     0.0      0.0      0.0      0.0     0.0      장흥  24   2

[250 rows x 10 columns]

In [27]:
bugur_list = []

for i in buger.index:
    if buger['점포수롯데리아'][i]+buger['점포수맘스터치'][i] == 0:
        bugur_list.append(0)
    else:
        bugur_list.append((buger['점포수KFC'][i] + buger['점포수맥도날드'][i] + buger['점포수버거킹'][i]) / (buger['점포수롯데리아'][i] + buger['점포수맘스터치'][i]))

print(bugur_list)

[0.2222222222222222, 0.0, 0, 0.0, 0.2857142857142857, 0.0, 0.0, 0.35294117647058826, 0.0, 0.0, 0.0, 1.8333333333333333, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.1818181818181819, 3.4, 0.45454545454545453, 3.0, 7.0, 0.1111111111111111, 3.5, 0.6, 1.2727272727272727, 0.8571428571428571, 1.5, 2.111111111111111, 2.9, 2.5, 0.14285714285714285, 1.1428571428571428, 2.2857142857142856, 1.5, 2.125, 0.3, 0.6, 0.3076923076923077, 0.1, 0.7, 0.5555555555555556, 0.14285714285714285, 0.2, 0.125, 0.0, 2.0, 1.8333333333333333, 1.4285714285714286, 0.4166666666666667, 0.6666666666666666, 1.3076923076923077, 1.25, 0.17647058823529413, 0.6, 0.6, 0.7142857142857143, 0.5714285714285714, 1.1666666666666667, 0.0, 0.0, 1.4545454545454546, 0.0, 0, 0.5, 0.0, 0.7, 0.0, 0.6, 0.0, 1.5, 0.8888888888888888, 1.5, 0.7777777777777778, 0.8333333333333334, 0, 0.0, 0.5454545454545454, 0.5454545454545454, 0.0, 1.5555555555555556, 0.4, 0.0, 0.0, 0.5, 0.0, 0.4, 0.3333333333333333, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.6363636363636364, 0.7777777777777778, 0.6666666666666666, 2.2, 0.7142857142857143, 1.6666666666666667, 2.4444444444444446, 0.8, 0.5833333333333334, 1.7142857142857142, 0.5, 1.8181818181818181, 2.2857142857142856, 0.375, 0.5, 1.6428571428571428, 0.5833333333333334, 1.4545454545454546, 0.2, 1.1666666666666667, 0.5, 1.2, 1.0, 2.0, 1.0833333333333333, 1.1428571428571428, 1.75, 1.2, 0.0, 1.2, 1.8, 0.3333333333333333, 1.25, 1.0666666666666667, 5.333333333333333, 1.875, 2.0, 1.75, 1.0, 1.1, 2.5, 2.0, 2.1666666666666665, 4.0, 0.9, 1.1428571428571428, 1.2727272727272727, 1.5833333333333333, 3.857142857142857, 0.5, 0.5714285714285714, 1.0, 2.0, 1.3, 0.5454545454545454, 2.5, 2.0, 3.6666666666666665, 1.75, 1.2, 1.3333333333333333, 0.4, 0.1, 0.3, 0.0, 1.1666666666666667, 1.1333333333333333, 0.5384615384615384, 1.0, 0.45454545454545453, 0.75, 0.0, 1.125, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.1666666666666667, 1.0, 0.0, 0.6, 0.4166666666666667, 0.0, 0.0, 0.0, 0.0, 0.0, 0.75, 1.0, 0.0, 0.0, 0.0, 0.3333333333333333, 0.75, 0.3333333333333333, 0.0, 0.3333333333333333, 0.0, 0.36363636363636365, 0.0, 0.6, 0.7272727272727273, 1.5, 0.0, 0.0, 0.0, 0.0, 0.16666666666666666, 0.0, 1.0, 0.5, 0.6666666666666666, 0.5714285714285714, 0.5, 0.1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [28]:
buger['버거지수'] = bugur_list
buger.head()

,시도명,시군구명,점포수KFC,점포수롯데리아,점포수맘스터치,점포수맥도날드,점포수버거킹,ID,y,x,버거지수
0,강원도,강릉시,0.0,5.0,4.0,1.0,1.0,강릉,3,11,0.222222
1,강원도,고성군,0.0,1.0,0.0,0.0,0.0,고성(강원),0,10,0.000000
2,강원도,동해시,1.0,0.0,0.0,3.0,0.0,동해,4,11,0.000000
3,강원도,삼척시,0.0,0.0,1.0,0.0,0.0,삼척,5,11,0.000000
4,강원도,속초시,0.0,6.0,1.0,1.0,1.0,속초,1,10,0.285714

In [30]:
buger = buger[['ID','y','x','점포수KFC','점포수롯데리아','점포수맘스터치','점포수맥도날드','점포수버거킹','버거지수']]
buger.head()

       ID  y   x  점포수KFC  점포수롯데리아  점포수맘스터치  점포수맥도날드  점포수버거킹      버거지수
0      강릉  3  11     0.0      5.0      4.0      1.0     1.0  0.222222
1  고성(강원)  0  10     0.0      1.0      0.0      0.0     0.0  0.000000
2      동해  4  11     1.0      0.0      0.0      3.0     0.0  0.000000
3      삼척  5  11     0.0      0.0      1.0      0.0     0.0  0.000000
4      속초  1  10     0.0      6.0      1.0      1.0     1.0  0.285714

In [31]:
buger = buger.rename({'점포수KFC':'KFC 매장수','점포수롯데리아':'롯데리아 매장수','점포수맘스터치':'맘스터치 매장수','점포수맥도날드':'맥도날드 매장수','점포수버거킹':'버거킹 매장수'}, axis='columns')
buger.head()

       ID  y   x  KFC 매장수  롯데리아 매장수  맘스터치 매장수  맥도날드 매장수  버거킹 매장수      버거지수
0      강릉  3  11      0.0       5.0       4.0       1.0      1.0  0.222222
1  고성(강원)  0  10      0.0       1.0       0.0       0.0      0.0  0.000000
2      동해  4  11      1.0       0.0       0.0       3.0      0.0  0.000000
3      삼척  5  11      0.0       0.0       1.0       0.0      0.0  0.000000
4      속초  1  10      0.0       6.0       1.0       1.0      1.0  0.285714

In [32]:
buger = buger.astype({'KFC 매장수':'int', '롯데리아 매장수':'int', '맘스터치 매장수':'int', '맥도날드 매장수':'int', '버거킹 매장수':'int'})
buger.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 0 to 249
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        250 non-null    object
 1   y         250 non-null    int64
 2   x         250 non-null    int64
 3   KFC 매장수   250 non-null    int32
 4   롯데리아 매장수  250 non-null    int32
 5   맘스터치 매장수  250 non-null    int32
 6   맥도날드 매장수  250 non-null    int32
 7   버거킹 매장수   250 non-null    int32
 8   버거지수      250 non-null    float64
dtypes: float64(1), int32(5), int64(2), object(1)
memory usage: 14.6+ KB

In [33]:
buger.head()

       ID  y   x  KFC 매장수  롯데리아 매장수  맘스터치 매장수  맥도날드 매장수  버거킹 매장수      버거지수
0      강릉  3  11        0         5         4         1        1  0.222222
1  고성(강원)  0  10        0         1         0         0        0  0.000000
2      동해  4  11        1         0         0         3        0  0.000000
3      삼척  5  11        0         0         1         0        0  0.000000
4      속초  1  10        0         6         1         1        1  0.285714

In [34]:
buger.to_csv('../static/data/버거지수.csv', index=False)