In [1]:
import sqlite3
import pandas as pd

In [2]:
covid = pd.read_csv('../../Data Analysis/08.cartogram/data/전국코로나일별.csv')
covid.head()

,date,서울,부산,대구,인천,대전,광주,울산,세종,경기,강원,충북,충남,경북,경남,전북,전남,제주,합계
0,2020-03-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2020-03-02,10,3,469,0,0,0,3,0,7,8,1,13,67,4,1,0,0,586
2,2020-03-03,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2020-03-04,1,3,405,2,1,2,3,0,7,1,0,1,89,1,0,0,0,516
4,2020-03-05,4,-1,321,0,1,1,0,0,9,2,1,4,87,9,0,-1,1,438

In [3]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    275 non-null    object
 1   서울      275 non-null    int64
 2   부산      275 non-null    int64
 3   대구      275 non-null    int64
 4   인천      275 non-null    int64
 5   대전      275 non-null    int64
 6   광주      275 non-null    int64
 7   울산      275 non-null    int64
 8   세종      275 non-null    int64
 9   경기      275 non-null    int64
 10  강원      275 non-null    int64
 11  충북      275 non-null    int64
 12  충남      275 non-null    int64
 13  경북      275 non-null    int64
 14  경남      275 non-null    int64
 15  전북      275 non-null    int64
 16  전남      275 non-null    int64
 17  제주      275 non-null    int64
 18  합계      275 non-null    int64
dtypes: int64(18), object(1)
memory usage: 40.9+ KB

In [6]:
params = list(covid.iloc[0,:])
params

['2020-03-01', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [5]:
type(covid['서울'][2])

numpy.int64

In [4]:
conn = sqlite3.connect('covid.db')
cur = conn.cursor()

In [9]:
sql_insert = 'insert into daily values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);'
cur.execute(sql_insert, params)
conn.commit()

In [9]:
params =  ['2020-03-02', 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
cur.execute(sql_insert, params)
conn.commit()

In [ ]:
"""create table daily(
 ilja text not null primary key,
 seoul int default 0, busan int default 0, daegu int default 0,
 incheon int default 0, daejeon int default 0, gweonggi int default 0,
 ulsan int default 0, sejong int default 0, gyeonggi int default 0,
 gangwon int default 0, chungbuk int default 0, chungnam int default 0,
 gyeongbuk int default 0, gyeongnam int default 0, jeonbuk int default 0,
 jeonnam int default 0, jeju int default 0,
 gye int default 0);"""

In [10]:
params = [covid.iloc[2,0]]
params.append(covid.iloc[2,1:].astype(int).values)
params

['2020-03-03', array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])]

In [11]:

params = [covid.iloc[2,0]]
for i in range(1, 19):
    params.append(int(covid.iloc[2,i]))
params

['2020-03-03', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [5]:
cur.execute(sql_insert, params)
conn.commit()

NameError: name 'cur' is not defined

In [8]:

sql_table = '''create table daily (
  ilja text not null primary key,
  seoul int default 0, busan int default 0, daegu int default 0,
  incheon int default 0, daejeon int default 0, gwangju int default 0,
  ulsan int default 0, sejong int default 0, gyeonggi int default 0,
  gangwon int default 0, chungbuk int default 0, chungnam int default 0,
  gyeongbuk int default 0, gyeongnam int default 0, jeonbuk int default 0,
  jeonnam int default 0, jeju int default 0, 
  gye int default 0);'''
cur.execute(sql_table)
conn.commit()

In [11]:
for i in range(len(covid)):
    params = [covid.iloc[i,0]]
    for k in range(1, 19):
        params.append(int(covid.iloc[i,k]))
    cur.execute(sql_insert, params)
    conn.commit()

IntegrityError: UNIQUE constraint failed: daily.ilja