In [2]:
import sys
sys.path.append("d:/Bigdata/Workspace/flask web/03_DataAnalysisModule")

In [3]:
from flask import Blueprint, render_template, request, session
from flask import current_app
from werkzeug.utils import secure_filename
from datetime import timedelta
import os, folium, json
import pandas as pd
from my_util.weather import get_weather
import platform
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
mpl.rc('font', family='Malgun Gothic')
mpl.rc('axes', unicode_minus=False)

In [4]:
from my_util.draw_korea import drawKorea

In [5]:
draw_korea_raw = pd.read_excel('../static/data/draw_korea_raw(수정).xlsx', encoding='utf8')
draw_korea_raw.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,철원,화천,양구,고성(강원),NaN,NaN,NaN
1,NaN,NaN,NaN,양주,동두천,연천,포천,의정부,인제,춘천,속초,NaN,NaN,NaN
2,NaN,NaN,NaN,파주,고양 일산동,서울 도봉,서울 노원,남양주,홍천,횡성,양양,NaN,NaN,NaN
3,NaN,NaN,NaN,고양 일산서,고양 덕양,서울 강북,서울 성북,가평,구리,하남,정선,강릉,NaN,NaN
4,NaN,NaN,김포,안양 만안,광명,서울 서대문,서울 종로,서울 동대문,서울 중랑,양평,태백,동해,NaN,NaN

In [6]:
draw_korea_raw_stacked = pd.DataFrame(draw_korea_raw.stack())
draw_korea_raw_stacked.reset_index(inplace=True)
draw_korea_raw_stacked.rename(columns={'level_0':'y', 'level_1':'x', 0:'ID'},
                                       inplace=True)
draw_korea_raw_stacked

      y   x      ID
0     0   7      철원
1     0   8      화천
2     0   9      양구
3     0  10  고성(강원)
4     1   3      양주
..   ..  ..     ...
245  24   2      장흥
246  24   3      보성
247  25   2      완도
248  25   5      제주
249  26   5     서귀포

[250 rows x 3 columns]

In [7]:
cof = pd.read_csv('../static/data/커피지수.csv', encoding='utf8')

In [10]:
top10 = {'인천 남동': 13, '성남 분당': 12, '서울 강남': 12, '화성': 11, '대전 서구': 10, '서울 송파': 10, '부천': 9, '파주': 8, '시흥': 8, '서울 강서': 8}

In [15]:
top10.items()

dict_items([('인천 남동', 13), ('성남 분당', 12), ('서울 강남', 12), ('화성', 11), ('대전 서구', 10), ('서울 송파', 10), ('부천', 9), ('파주', 8), ('시흥', 8), ('서울 강서', 8)])

In [18]:
for key,value in top10.items():
    print(key, value)

인천 남동 13
성남 분당 12
서울 강남 12
화성 11
대전 서구 10
서울 송파 10
부천 9
파주 8
시흥 8
서울 강서 8