# 아이리스 선형회귀

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [29]:
df = pd.read_csv('../static/data/iris_train.csv')
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.3,1.7,0.5,0
1,6.1,3.0,4.9,1.8,2
2,5.1,3.4,1.5,0.2,0
3,5.1,3.5,1.4,0.3,0
4,5.2,3.4,1.4,0.2,0

In [30]:
df = df.rename({'sepal length (cm)':'sl', 'sepal width (cm)':'sw', 'petal length (cm)':'pl', 'petal width (cm)':'pw', 'target':'species'}, axis='columns')
df.head()

    sl   sw   pl   pw  species
0  5.1  3.3  1.7  0.5        0
1  6.1  3.0  4.9  1.8        2
2  5.1  3.4  1.5  0.2        0
3  5.1  3.5  1.4  0.3        0
4  5.2  3.4  1.4  0.2        0

PL을 구하는 선형회귀

In [31]:
feature_name = 'pl'

In [20]:
X = df.drop(columns)

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [21]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=2021
)

In [22]:
lr = LinearRegression()
lr.fit(X_train, y_train)
pred = lr.predict(X_test)
mse = mean_squared_error(y_test, pred)
r2 = r2_score(y_test, pred)
print(f'MSE: {mse:.2f}, RMSE: {np.sqrt(mse):.2f}')
print(f'R_squared: {r2:.4f}')

MSE: 0.04, RMSE: 0.19
R_squared: 0.9226

In [27]:
coef = lr.coef_
coef

array([-0.12876754,  0.17861614,  0.32741898,  0.37562097])

In [24]:
lr.intercept_

-0.1944501604164237

In [28]:
# 회귀식
coef[0]*Sepla length + coef[1]*Sepal width + coef[2]*Petal length + coef[3]*target + lr.intercept_

-0.1287675446051109